version: '3.8'

services:
  app:
    image: archiveium/archiveium:0.1.8
    ports:
      - 5292:80
    volumes:
      - app_storage:/var/www/html/storage
      - .env:/var/www/html/.env
    environment:
      DB_PASSWORD: "$DB_PASSWORD"   # Should be the same as mentioned in .env
      DB_HOST: "$DB_HOST"           # Should be the same as mentioned in .env
      DB_DATABASE: "$DB_DATABASE"   # Should be the same as mentioned in .env
      DB_USERNAME: "$DB_USERNAME"   # Should be the same as mentioned in .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/login"]
      interval: 30s
      timeout: 5s
      retries: 3
    networks:
      - archiveium
    depends_on:
      - db

  jobber:
    image: archiveium/jobber:0.0.13
    volumes:
      - jobber_logs:/app/logs
      - ./jobber_production.json:/app/config/production-0.json
    environment:
      TZ: 'America/Toronto'   # Change timezone as needed
      NODE_APP_INSTANCE: 0
    networks:
      - archiveium
    depends_on:
      - app
      - db

  db:
    image: postgres:13
    ports:
      - 5432:5432
    environment:
      PGPASSWORD: "$DB_PASSWORD"          # Should be the same as mentioned in .env
      POSTGRES_DB: "$DB_DATABASE"         # Should be the same as mentioned in .env
      POSTGRES_USER: "$DB_USERNAME"       # Should be the same as mentioned in .env
      POSTGRES_PASSWORD: "$DB_PASSWORD"   # Should be the same as mentioned in .env
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - archiveium
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-d", "${DB_DATABASE}", "-U", "${DB_USERNAME}"]
      retries: 3
      timeout: 5s

  minio:
    image: 'minio/minio:RELEASE.2022-09-25T15-44-53Z'
    ports:
      - 9000:9000
    environment:
      MINIO_ROOT_USER: '$MINIO_USER'            # Should be the same as mentioned in .env
      MINIO_ROOT_PASSWORD: '$MINIO_PASSWORD'    # Should be the same as mentioned in .env
      MINIO_COMPRESSION_ENABLE: 'on'
      MINIO_COMPRESSION_EXTENSIONS: ''
      MINIO_COMPRESSION_MIME_TYPES: ''
    volumes:
      - minio_data:/data/minio
    networks:
      - archiveium
    entrypoint: sh
    command: -c 'mkdir -p /data/minio/emails && minio server /data/minio'
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      retries: 3
      timeout: 5s

volumes:
  db_data:
  app_storage:
  minio_data:
  jobber_logs:

networks:
  archiveium: